*{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    color: darkslateblue;
}
body{
    background-color:lightsteelblue;
    border: aliceblue;
}
form{
    color:darkblue;
    text-align:center
}
select{
    text-align:center
}
p {
    color:darkblue; 
    text-align:center
}